.custom-button{
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 50px;
    justify-content: center;
    align-items: center;   
    margin:10px;
    padding:10px 20px;
    background: linear-gradient(45deg, #3D2645, #832161, #832161, #3D2645);
    border-radius: 10px;
    transition: ease 1s;  
    border-style:none; 
}
.custom-button:hover{
    background: linear-gradient(45deg,#DA4167, #832161, #DA4167);
    width: 410px;
    height: 60px;
    cursor: pointer;
    transition: ease-in-out 0.5s;  
    color: black;
}